html {
    overflow-y: scroll
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: none;
    background: transparent
}

button {
    color: inherit
}

input[type=file], input[type=submit] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    cursor: pointer;
    z-index: 1
}

.clear {
    clear: both;
    overflow: hidden;
    height: 0;
    font-size: 0;
    display: block
}

html:not(.touch-screen) ::-webkit-scrollbar, html:not(.touch-screen)::-webkit-scrollbar {
    width: 8px;
    height: 5px
}

html:not(.touch-screen) ::-webkit-scrollbar-track, html:not(.touch-screen)::-webkit-scrollbar-track {
    background: #181818
}

html:not(.touch-screen) ::-webkit-scrollbar-thumb, html:not(.touch-screen)::-webkit-scrollbar-thumb {
    border: 2px solid #181818;
    background: #cdb393
}

html {
    height: 100%
}

body {
    height: 100%;
    overflow: hidden
}

#content-block {
    overflow: hidden;
    position: relative
}

.overflow-hidden {
    overflow: hidden
}

html.overflow-hidden body {
    overflow: hidden
}

.swiper-slide:not(:first-child) {
    display: none
}

#c-cursor {
    display: none
}

.no-cursor * {
    cursor: none !important
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.blog-detail .bg-full{
    background-size: contain;
}

.img-enter {
    position: relative
}

.img-enter.bg-full {
    position: absolute
}

.full-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.full-size.rellax {
    top: -20%;
    height: 140%
}

.img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: top
}

.h-100 {
    height: 100%
}

.clearfix {
    position: relative
}

.clearfix:after {
    display: block;
    content: "";
    clear: both
}

.cell-view {
    display: table-cell;
    vertical-align: middle;
    width: 10000px
}

@media (min-width: 568px) {
    .container.custom {
        width: 100%;
        padding: 0 60px;
        max-width: 1640px
    }
}

.relative, section {
    position: relative
}

.zindex1 {
    z-index: 1
}

body {
    font-weight: 300;
    background-color: #202020;
    font-family: 'GtEstiProDisplay', Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: always
}

b, strong {
    font-weight: 700
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ol, ul {
    list-style: none
}

.text, body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.96px
}

.h1, h1 {
    font-size: 86px;
    line-height: 1.16;
    letter-spacing: 5.16px
}

.h2, h2 {
    font-size: 50px;
    line-height: 1.4;
    letter-spacing: 3px
}

.h2.smaller {
    font-size: 40px;
    letter-spacing: 2.4px
}

.h3, h3 {
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: 2.16px
}

.h4, h4 {
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 1.56px
}

.h5, h5 {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.08px
}

.h6, h6 {
    font-size: 16px;
    line-height: 1.6
}

.text-xs {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.72px
}

.text-sm {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.84px
}

.text-md {
    font-size: 18px;
    line-height: 1.56
}

.text-lg {
    font-size: 20px;
    line-height: 1.6
}

.text-xxl {
    font-size: 300px
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1.2px
}

@media (max-width: 1499px) {
    .h1, h1 {
        font-size: 60px
    }

    .h2, h2 {
        font-size: 42px
    }

    .h2.smaller {
        font-size: 38px
    }

    .subtitle, .text-lg {
        font-size: 18px
    }

    .text-md {
        font-size: 16px
    }

    .text-xxl {
        font-size: 200px
    }
}

@media (max-width: 991px) {
    .h1, h1 {
        font-size: 52px
    }

    .h3, h3 {
        font-size: 34px
    }

    .subtitle {
        line-height: 1.5
    }

    .text-xxl {
        font-size: 140px
    }
}

@media (max-width: 767px) {
    .text, .text-md, body {
        font-size: 15px
    }

    .h1, h1 {
        font-size: 38px
    }

    .h2, h2 {
        font-size: 30px
    }

    .h2.smaller {
        font-size: 28px
    }

    .h3, h3 {
        font-size: 26px
    }

    .h4, h4 {
        font-size: 20px
    }

    .subtitle, .text-lg {
        font-size: 16px
    }

    .text-xxl {
        font-size: 100px
    }
}

.w-thin {
    font-weight: 100
}

.w-light {
    font-weight: 300
}

.w-regular {
    font-weight: 400
}

.w-medium {
    font-weight: 500
}

.w-bold {
    font-weight: 700
}

.w-ultrabold {
    font-weight: 800
}

.block-title {
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.loaded .block-title {
    opacity: 1
}

.block-title > span {
    overflow: hidden;
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s
}

.block-title > span > span:not(.t-move-el) {
    -webkit-transform: rotateY(-15deg) translateY(100%) skewY(15deg) skewX(-10deg);
    transform: rotateY(-15deg) translateY(100%) skewY(15deg) skewX(-10deg);
    opacity: 0;
    -webkit-transform-origin: 0 bottom;
    -ms-transform-origin: 0 bottom;
    transform-origin: 0 bottom;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    -o-transition: transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s
}

.animated .block-title > span {
    opacity: 1;
    -webkit-animation: 3s delayOverflow forwards;
    animation: 3s delayOverflow forwards
}

.animated .block-title > span:nth-child(2) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.animated .block-title > span:nth-child(2) span {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}

.animated .block-title > span:nth-child(3) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.animated .block-title > span:nth-child(3) span {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s
}

.animated .block-title > span > span:not(.t-move-el) {
    opacity: 1;
    overflow: visible;
    -webkit-transform: rotateY(0) translateY(0) skewY(0) skewX(0);
    transform: rotateY(0) translateY(0) skewY(0) skewX(0)
}

@-webkit-keyframes delayOverflow {
    to {
        overflow: visible
    }
}

@keyframes delayOverflow {
    to {
        overflow: visible
    }
}

.t-move-el {
    -webkit-transition: all 0s, opacity 0.6s 1.5s !important;
    -o-transition: all 0s, opacity 0.6s 1.5s !important;
    transition: all 0s, opacity 0.6s 1.5s !important;
    opacity: 0
}

.animated .t-move-el {
    opacity: 1
}

.block-title.style2 > span:first-child {
    margin-left: 50px
}

.t-move-to-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    white-space: nowrap
}

.t-move-el {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-text-stroke: .5px currentColor;
    text-stroke: .5px currentColor;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    will-change: transform
}

.t-overflow {
    overflow: hidden
}

.lettering [class*=line] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.line-left-2 > span:nth-child(2) > span {
    padding-left: 160px;
    position: relative
}

.line-left-2 > span:nth-child(2) > span:not(.t-move-el):before {
    content: '';
    position: absolute;
    left: 0;
    width: 130px;
    height: 8px;
    top: .45em;
    background-color: currentColor
}

.line-left-2 > span:nth-child(3) {
    padding-left: 60px
}

.line-right-1 > span:first-child > span:first-child {
    position: relative;
    padding-right: 160px
}

.line-right-1 > span:first-child > span:first-child:before {
    content: '';
    position: absolute;
    right: 0;
    width: 130px;
    height: 8px;
    top: .45em;
    background-color: currentColor
}

.t-move-to-copy span {
    overflow: visible !important
}

.block-title.style2 {
    margin-left: -30px
}

.block-title.style2 .dec-space {
    left: -50px
}

@media (max-width: 1499px) {
    .line-left-2 > span:nth-child(2) > span {
        padding-left: 130px
    }

    .line-left-2 > span:nth-child(2) > span:not(.t-move-el):before {
        width: 100px;
        height: 6px
    }

    .line-right-1 > span:first-child > span:first-child {
        padding-right: 130px
    }

    .line-right-1 > span:first-child > span:first-child:before {
        width: 100px;
        height: 6px
    }

    .top-banner-full .block-title.style2, .top-banner-full .block-title.style2 > span:first-child {
        margin-left: 0
    }

    .top-banner-full .line-left-2 > span:nth-child(2) > span, .top-banner-full .line-left-2 > span:nth-child(3) {
        padding-left: 0
    }

    .top-banner-full .line-left-2 > span:nth-child(2) > span:not(.t-move-el):before {
        content: none
    }
}

@media (max-width: 767px) {
    .line-left-2 > span:nth-child(2) > span {
        padding-left: 60px
    }

    .line-left-2 > span:nth-child(2) > span:not(.t-move-el):before {
        width: 45px;
        height: 7px;
        top: .4em
    }

    .line-left-2.h2 > span:nth-child(2) > span:before {
        top: .5em
    }

    .line-left-2 > span:nth-child(3) {
        padding-left: 20px
    }

    .line-right-1 > span:first-child > span:first-child {
        padding-right: 60px
    }

    .line-right-1 > span:first-child > span:first-child:before {
        width: 45px;
        height: 7px
    }

    .block-title.style2 {
        margin-left: 0
    }

    .block-title.style2 > span:first-child {
        margin-left: 15px
    }

    .t-move-el {
        display: none;
    }
}

.text-uppercase {
    text-transform: uppercase
}

.text-truncate {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left
    }

    .text-sm-center {
        text-align: center
    }

    .text-sm-right {
        text-align: right
    }
}

@media (min-width: 768px) {
    .text-md-left {
        text-align: left
    }

    .text-md-center {
        text-align: center
    }

    .text-md-right {
        text-align: right
    }
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left
    }

    .text-lg-center {
        text-align: center
    }

    .text-lg-right {
        text-align: right
    }
}

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left
    }

    .text-xl-center {
        text-align: center
    }

    .text-xl-right {
        text-align: right
    }
}

@media (max-width: 767px) {
    .d-xs-none {
        display: none !important
    }
}

.btn {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    cursor: pointer;
    background: transparent;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 19px 50px;
    border: 2px solid #cdb393;
    overflow: hidden;
    color: #cdb393;
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden*/
}

.btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #cdb393;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.btn span {
    position: relative;
    display: inline-block;
    padding-right: 43px
}

.btn-simple span {
    padding-right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.btn.btn-simple-icon {
    padding-left: 110px
}

.btn-simple .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background-color: #cdb393
}

.btn-simple .icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    max-width: 16px;
    max-height: 16px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.btn-lg {
    font-size: 14px;
    line-height: 24px;
    padding: 26px 65px
}

.btn-secondary {
    border-color: #fff;
    color: #fff
}

.btn-secondary:before {
    background-color: #fff
}

.btn-block {
    display: block;
    width: 100%
}

.btn-close {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    background-color: #cdb393;
    color: #fff;
    cursor: pointer
}

.btn-close:after, .btn-close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    height: 1px;
    width: 50%;
    background-color: currentColor;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.btn-close:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg)
}

.btn-close:active {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

@media (max-width: 1450px) {
    .btn {
        padding: 19px 40px
    }

    .btn.btn-lg {
        padding: 21px 45px
    }

    .btn.btn-simple-icon {
        padding-left: 100px
    }
}

@media (max-width: 991px) {
    .btn {
        padding: 13px 30px
    }

    .btn.btn-lg {
        padding: 14px 35px
    }

    .btn.btn-simple-icon {
        padding-left: 90px
    }
}

video {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

video.active {
    opacity: 1;
    visibility: visible
}

.color-darkest {
    color: #131313
}

.color-dark {
    color: #181818
}

.color-secondary {
    color: #cdb393
}

.color-white {
    color: #fff
}

.color-grey {
    color: #9b9b9b
}

.bg-main {
    background-color: #202020;
    color: #fff
}

.bg-main.transparent {
    background-color: transpare